body{
    background-color: beige;
    height: 100vh; 
  display: flex;
  justify-content: center;   
  align-items: center;      

}
h1{
    text-align: center;
    color: brown;
    font-size: 65px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid black;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 30px 30px 30px 30px;
}

